

.input-continer{
    /* position: absolute;
    z-index: 1;
    bottom: 0;
    height: 15vh;
    width: 21vw;  */
    display: flex;
    align-items: center;
    background-color:var(--third-color) ;
}

.input-items{
    padding: 0 1%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.input-text{
    line-height: 1.5;
    min-height: 40px;
    color: var(--primary-color);
    width: 84%;
    /* margin: 0 2em 0 0.5em; */
}

.input-text, .input-text::placeholder{
    position: relative;
    margin-right: 2%;
    word-wrap: break-word;
    resize:none;
    background-color: var(--secondary-color);
}

.input-btn{
    background-color: var(--secondary-color);
    border: 5px solid var(--secondary-color);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-btn-icon{
    position: relative;
    font-size: 2.4rem;
    color: var(--primary-color);
    border-radius: 50%;
}
.input-btn:active{
    cursor: pointer;
    background-color: var(--active-secondary-color);
}

@media only screen and (min-width: 450px){

    .input-continer{
        height: 12vh;
    }

    .input-text{
        width: 90%;
    }
    
}


@media only screen and (min-width: 1200px){
/* 
    .input-continer{
        position: fixed;
        z-index: 1;
        bottom: 0;
        height: 13.5vh;
    } */

    .input-text{
        width: 100%;
        min-height: 7vh;
    }

        
    .input-btn:hover{
        cursor: pointer;
        background-color: var(--hover-secondary-color);
    }

}