
.chat-continer{
    position: relative;

    height: 100%;
    width: 100%;
}


.chat-header{
    position: absolute;
    z-index: 1;
    height: 7vh;
    width: 100%;
    background-color: var(--third-color);
}

.chat-group{
    position: relative;
    width: 100%;
}



@media only screen and (min-width: 1200px){

    .chat-header{
        height: 10vh;
    }

}