.dead-pieces-continer{

    height: 40vh;
    width: 10vw;
    background-color: var(--third-color);
    border-radius: 15px;

    border:5px solid var(--primary-color);
}

.dead-pieces-imgs{
    overflow-wrap: break-word;
    padding: 1em;
}

.dead-pieces-img{
    height: 5vh;
    width: 25%;
    margin: 0.2em;
}
