
.error-500-continer{
    position:relative;
    top: 20vh;
    text-align: center;
    color: var(--second-text-color);
}

.error-500{
    font-size: 6rem;
}

.error-500-title{
    font-size: 1.8rem;
    margin-top: -10vh;
}

.error-500-info{
    font-size: 0.7rem;
    margin-top: -3vh;
}

.error-500-link{
    font-size: 0.7rem;
}