
.header-continer{
    position: relative;
    height: 100%;
    width: 100%;
    background-color:var(--second-backgroud-color);
    box-shadow: var(--primary-box-shadow);
}


.header-title{
    letter-spacing:2px;
    font-weight: 700;
    color: var(--primary-text-color);
}

.header-title[lenght="s"]{
    font-size: 2rem;
}
.header-title[lenght="m"]{
    font-size: 1.5rem;
}
.header-title[lenght="l"]{
    font-size: 1rem;
}


@media only screen and (min-width: 1200px){

    .chat-header{
        height: 10vh;
    }

    .header-title[lenght="s"]{
        font-size: 2.5rem;
    }
    .header-title[lenght="m"]{
        font-size: 2rem;
    }
    .header-title[lenght="l"]{
        font-size: 1.4rem;
    }

}