
  
.chats{
  padding: 1% 0 0 1.5%;
  position: relative;
  top:7vh;
  width: 98%;
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}



@media only screen and (min-width: 1200px){

  .chats{
    top:10vh;
    height: 60vh;
  }

}